apiVersion: core.gardener.cloud/v1beta1
kind: ControllerDeployment
metadata:
  name: audit
type: helm
providerConfig:
  values:
    image:
      tag: latest
      pullPolicy: IfNotPresent

    config:
      defaultBackends:
        clusterForwarding:
          enabled: true

        # splunk:
        #   enabled: true
        #   index: <splunk index>
        #   host: splunk-endpoint.example.com
        #   port: "443"
        #   secretResourceName: splunk
        #   tls: true

      # defaultBackendSecrets:
      #   - name: splunk
      #     data:
      #       token: test
